# --- Ambientes Virtuales (Python) ---
venv/
.venv/
env/
env_tostao/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
build/
include/
share/

# --- MLflow ---
mlruns/
mlflow.db

# --- Datos (Data Science) ---
# Ignorar datos crudos e intermedios
data/raw/
data/interim/

# Permitir datos procesados (limpios)
!data/processed/
!data/processed/*.csv

# --- Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
__pycache__/
*.py[cod]
*$py.class

# --- Configuración y Secretos ---
.env
.secrets
.DS_Store
Thumbs.db

# --- Logs y Modelos ---
*.log
models/*.h5
models/*.pkl
models/*.joblib

